@font-face{
	font-family: 'SVN-Gilroy-Regular';
	src: url('./assets/fonts/SVN-Gilroy-Regular.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SVN-Gilroy-Bold';
	src: url('./assets/fonts/SVN-Gilroy-Bold.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SVN-Gilroy-Light';
	src: url('./assets/fonts/SVN-Gilroy-Light.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SVN-Gilroy-Medium';
	src: url('./assets/fonts/SVN-Gilroy-Medium.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SVN-Gilroy-SemiBold';
	src: url('./assets/fonts/SVN-Gilroy-SemiBold.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SVN-Gilroy-Thin';
	src: url('./assets/fonts/SVN-Gilroy-Thin.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'UTM-ESSENDINE-CAPS-BOLD';
	src: url('./assets/fonts/UTM-ESSENDINE-CAPS-BOLD.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'UTM-ESSENDINE-CAPS';
	src: url('./assets/fonts/UTM-ESSENDINE-CAPS.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'blacker-sans-display';
	src: url('./assets/fonts/blacker-sans-display.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}