body {
  // --primary
  --color-primary-50: #f1f8ff;
  --color-primary-100: #e4f1ff;
  --color-primary-200: #bedcff;
  --color-primary-300: #8eb4ff;
  --color-primary-400: #4f86ff;
  --color-primary-500: #366feb;
  --color-primary-700: #104fd9;

  // --secondary
  --color-secondary-50: #fff2ed;
  --color-secondary-200: #ff9f80;
  --color-secondary-300: #fb803c;
  --color-secondary-500: #e56833;
  --color-secondary-600: #e35b47;

  // --grey
  --color-grey-50: #ececec;
  --color-grey-100: #dddddd;
  --color-grey-200: #d1d1d1;
  --color-grey-300: #b0b0b0;
  --color-grey-400: #9a9a9a;
  --color-grey-500: #878787;
  --color-grey-600: #717171;
  --color-grey-700: #646464;
  --color-grey-800: #343434;
  --color-grey-900: #999999;

  // --background
  --color-bg-light-gray: #f7f7f7;
  --color-bg-dark-gray: #f2f3f5;
  --color-bg-light-blue: #f6f8fb;
  --color-bg-dark-blue: #ecf0f6;
  --color-bg-black: #104fd9;

  // --success
  --color-success-500: #12b76a;

  // --red
  --color-red-50: #FFF0ED;
  --color-red-100: #FFD2CF;
  --color-red-300: #FF6D64;
  --color-red-500: #E35B47;
}
